@{
Layout= "_AdminLayout";
ViewData["Title"] = "HMS Rooms Dashboard";
}
@model HotelMS.ViewModel.AdminUserVM
@section EditIcon {
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
}

<!---<h1 class="text-primary">Manage Roooms</h1> -->
<div class="container-fluid" data-page-identifier="user" id="page">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1 class="text-primary text-center">Manage Users</h1>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-md-3 mx-lg-5">
            <form method="post" id="UserForm">
                <div class="mb-3">
                    @{
                    dynamic toastObj = new System.Dynamic.ExpandoObject();
                    toastObj.toastIt=false;
                    toastObj.message="";

                    var toast = TempData["success"] as string;
                    if(toast == "saved") {
                    toastObj.toastIt=true;
                    toastObj.message="Category added successfully";
                    };
                    if(toast == "deleted" ){
                    toastObj.toastIt=true;
                    toastObj.message="Category deleted successfully";
                    };
                    if(toast == "edited" ){
                    toastObj.toastIt=true;
                    toastObj.message="Category edited successfully";
                    }

                    if(toastObj.toastIt){
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>
                            @toastObj.message
                        </strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    };
                    }
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <input type="hidden" asp-for="User.Id" id="UserId" />
                    <label asp-for="User.UName" class="form-label">User Name</label>
                    <input asp-for="User.UName" type="text" class="form-control" id="InName" placeholder="User Name">
                    <span id="ErrMsg" asp-validation-for="User.UName"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="User.UPhone" class="form-label">Phone</label>
                    <input asp-for="User.UPhone" type="text" class="form-control" id="InPhone">
                </div>

                <div class="mb-3">
                    <label asp-for="User.UGender " class="form-label">Gender</label>
                    <!-------To BE CHANGED------>

                    <select asp-for="User.UGender" asp-items="@Html.GetEnumSelectList<Gender>()"
                        id="SecGender"></select>
                </div>
                <div class="mb-3">
                    <label asp-for="User.UEmail" class="form-label">Address</label>
                    <input asp-for="User.UEmail" type="text" class="form-control" id="InAddress">
                    <span id="ErrMsg" asp-validation-for="User.UEmail" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="User.UPassword" class="form-label">Password</label>
                    <input asp-for="User.UPassword" type="text" class="form-control" id="InPassword">
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Role.Id" class="form-label">Roles</label>

                    <select asp-for="@Model.Role.Id " asp-items="@Model.RolesList">
                        <option value="0">No Role</option>
                        <option value="1">Remove Current Role</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col d-grid">
                        <button type="submit" class="btn btn-warning btn-block" formaction='@Url.Action("EditUser")'
                            form="UserForm">Edit</button>
                    </div>
                    <div class="col d-grid">
                        <button type="submit" class="btn btn-danger btn-block" formaction='DeleteUser'
                            form="UserForm">Delete</button>
                    </div>
                </div>
                <br />
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-block" id="savebtn"
                        formaction="SaveUser">Save</button>
                </div>
                <br />
            </form>
        </div>

        <div class="col-md-8 mt-3">
            <table class="table table-striped" id="userTable">
                <thead>
                    <tr class="bg-primary text-white">
                        <th></th>
                        <th hidden>Id</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Gender</th>
                        <th>Address</th>
                        <th>Current Role</th>
                        <th>Password</th>
                        <th>EditProfile</th>
                    </tr>
                </thead>
                <tbody class="userTablebody">
                    @{
                    var sortedList =Model.UserList.OrderBy(o=>o.Id).ToList();
                    foreach (var user in sortedList)
                    {
                    <tr>
                        <td id="SelectRow"></td>
                        <td hidden id="UserId">@user.Id</td>
                        <td id="UName">@user.Name</td>
                        <td id="UPhone">@user.Phone</td>
                        <td id="UGender">@user.Gender</td>
                        <td id="UAddress">@user.Email</td>
                        <td>
                            @foreach (var RoleName in user.RoleNameList)
                            {
                            <div class="form-check m-1 No-Table-Click">
                                <label class="form-check-label checkbox-role  No-Table-Click">@RoleName</label>
                            </div>
                            }
                        </td>

                        <td id="UPassword">@user.Password</td>
                        <td>
                            <a asp-action="UserProfile" asp-route-id="@user.Id"><span
                                    class="material-symbols-outlined No-Table-Click">edit</span></a>
                        </td>
                    </tr>
                    }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>